In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
%matplotlib inline
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Khatanga,RU,2022-02-02 11:56:37,71.9667,102.5000,-38.88,99,64,1.81
1,1,Bubaque,GW,2022-02-02 11:56:38,11.2833,-15.8333,78.31,76,11,10.25
2,2,Wajima,JP,2022-02-02 11:56:38,37.4000,136.9000,38.93,74,96,7.61
3,3,Abu Zabad,SD,2022-02-02 11:56:38,12.3500,29.2500,88.30,12,8,7.87
4,4,Richards Bay,ZA,2022-02-02 11:56:39,-28.7830,32.0377,92.71,50,9,15.99

In [3]:
# Get data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [7]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
fig = gmaps.figure()

# Assign the heatmap variable.
# heat_layer = gmaps.heatmap_layer(locations, weights=temps)
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], 
                                 dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [19]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Bubaque,GW,2022-02-02 11:56:38,11.2833,-15.8333,78.31,76,11,10.25
3,3,Abu Zabad,SD,2022-02-02 11:56:38,12.3500,29.2500,88.30,12,8,7.87
18,18,Quatre Cocos,MU,2022-02-02 11:56:42,-20.2078,57.7625,82.51,88,100,41.03
20,20,Rikitea,PF,2022-02-02 11:56:42,-23.1203,-134.9692,77.68,69,64,5.86
24,24,Souillac,MU,2022-02-02 11:56:43,-20.5167,57.5167,82.78,89,75,33.38
26,26,Sambava,MG,2022-02-02 11:56:43,-14.2667,50.1667,84.51,62,89,7.76
27,27,Tshikapa,CD,2022-02-02 11:56:44,-6.4167,20.8000,85.33,66,78,0.49
29,29,Parintins,BR,2022-02-02 11:56:44,-2.6283,-56.7358,77.65,85,94,5.50
31,31,Boulsa,BF,2022-02-02 11:56:45,12.6675,-0.5758,84.25,5,49,13.53
34,34,Butaritari,KI,2022-02-02 11:56:46,3.0707,172.7902,80.94,82,51,16.04

In [29]:
preferred_cities_df.count()
# preferred_cities_df.isnull().sum()
# preferred_cities_df.notnull().sum()

City_ID       160
City          160
Country       160
Date          160
Lat           160
Lng           160
Max Temp      160
Humidity      160
Cloudiness    160
Wind Speed    160
dtype: int64

In [30]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
1        Bubaque      GW     78.31  11.2833  -15.8333
3      Abu Zabad      SD     88.30  12.3500   29.2500
18  Quatre Cocos      MU     82.51 -20.2078   57.7625
20       Rikitea      PF     77.68 -23.1203 -134.9692
24      Souillac      MU     82.78 -20.5167   57.5167
26       Sambava      MG     84.51 -14.2667   50.1667
27      Tshikapa      CD     85.33  -6.4167   20.8000
29     Parintins      BR     77.65  -2.6283  -56.7358
31        Boulsa      BF     84.25  12.6675   -0.5758
34    Butaritari      KI     80.94   3.0707  172.7902

In [31]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [33]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
# Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [34]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Bubaque,GW,78.31,11.2833,-15.8333,"Casa Dora, Bubaque"
3,Abu Zabad,SD,88.30,12.3500,29.2500,حامد محمد نور
18,Quatre Cocos,MU,82.51,-20.2078,57.7625,Sunrise Attitude Hotel
20,Rikitea,PF,77.68,-23.1203,-134.9692,People ThankYou
24,Souillac,MU,82.78,-20.5167,57.5167,Shanti Maurice Resort & Spa
26,Sambava,MG,84.51,-14.2667,50.1667,Melrose
27,Tshikapa,CD,85.33,-6.4167,20.8000,Hôtel Tshia-Muntu de Tshikapa
29,Parintins,BR,77.65,-2.6283,-56.7358,Cama e Cafe
31,Boulsa,BF,84.25,12.6675,-0.5758,Auberge Relwende
34,Butaritari,KI,80.94,3.0707,172.7902,Isles Sunset Lodge

In [36]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [37]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [38]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))